<!--
    #########################################################################################

    Treemap PopUp

    #########################################################################################
-->
<dx-popup
        class='popup'
        [width]='700'
        [height]='700'
        [showTitle]='true'
        title='Treemap'
        [dragEnabled]='true'
        [closeOnOutsideClick]='true'
        [(visible)]='YesOpen'
>
    <div *dxTemplate=" let data of 'content' " >

        <div  >
            <dx-tree-map [dataSource]="DsTreeMap" title="투자비중" resolveLabelOverflow="ellipsis">
                <dxo-size [height]="550" ></dxo-size>
                <dxo-tooltip
                    [enabled]="true"
                    [customizeTooltip]="customizeTooltip"
                    >
                </dxo-tooltip>
            </dx-tree-map>

        </div>
        

        <div style='margin-top: 10px'>
            <button mat-raised-button color='warn' style='float: right;  margin-left: 10px' (click)='Treemap_Cancel_Click()'>Cancel</button>
            <button mat-raised-button color='primary'  style='float: right;' (click)='Treemap_OK_Click()'>OK</button>
        </div>

    </div>

</dx-popup>