#flowtest_main {
  width: 1200px;
  margin: 0 auto;
  background:#ffffff;  

}
#flowtest_container {
  height: 600px;
  overflow: auto;
  border: 1px solid #d6d1d1;
  margin: 10px;
}

#canvas_container {
  height: 400px;
  overflow: auto;
  border: 1px solid #ebebeb;
  margin: 10px;
}