<div id='corpvaluation01_main'>
  <div id='corpvaluation01_container'>
    <h3>기업가치평가</h3>

    <div>
        <button mat-raised-button color="primary" (click)='btnOpenItemList_Click()'>종목선택</button>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="종목" readonly=true   [ngModel]='Display'>
        </mat-form-field>
        
    </div>

    <div>
        <mat-tab-group>
    
            <!--
                #########################################################################################
            
                DCF Model            
            
                #########################################################################################
            -->
            <mat-tab label="DCF Model">
                <div style="margin: 10px">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="WACC" type="number" [(ngModel)]="DCF_WACC">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="영구성장률" [(ngModel)]='DCF_PGR' type="number">
                    </mat-form-field>
                    <button mat-raised-button color="accent" (click)='CalDCF()'>실행</button>
                </div>
    
            </mat-tab>
    
            <!--
                #########################################################################################
            
                APV Mode
            
                #########################################################################################
            -->
            <mat-tab label="APV Model">
    
    
            </mat-tab>
    
            <!--
                #########################################################################################
            
                RIM Model
            
                #########################################################################################
            -->
            <mat-tab label="RIM Model">
    
            </mat-tab>
    
        </mat-tab-group>
    </div>
    

  </div>
  
</div>

<div  class='corpvaluation01_main_class' style="height: 200px">
    <div id='canvas_container2' >
        <drawcanvas id='MyCanvas' #fcvs  [MyId]="'canvas_container2'" [AllowMove]=false ></drawcanvas>
    </div>
</div>



<!--
    #########################################################################################

    Item List Popup

    #########################################################################################
-->
<puitemlist #popupItemlist (Closed) = 'popupItemList_Closed($event)' ></puitemlist>


<!--
    #########################################################################################

    Load Panel

    #########################################################################################
-->
<dx-load-panel
                #loadPanel
                shadingColor="rgba(0,0,0,0.4)"
                [position]="{ of: '#corpvaluation01_main' }"
                [(visible)]="ViewLoadPanel"
                [showIndicator]="true"
                [showPane]="true"
                [shading]="true"
                [closeOnOutsideClick]="false"
>
</dx-load-panel>