<div id='flowtest02_main'>

    <br>

    <div id="flowtest02_container">
        <div style="margin-left: 10px">
            <button mat-raised-button color="warn" (click)="this.NewFlow()" >New</button>
            <button mat-raised-button color="primary" (click)="this.SaveFlow_Click()" >Save</button>
            <button mat-raised-button color="primary" (click)="this.OpenFlow()" >Open</button>
            <button mat-raised-button color="primary" (click)="this.FullScreen()" >Full</button>
            <button mat-raised-button color="accent" (click)="this.AddFlow()"  >Add Flow</button>
            <i> {{this.title}}</i>
        </div>
      
        <div id='canvas_container'>
          <drawcanvas #fcvs  ></drawcanvas>
        </div>
    </div>
    

      <mat-tab-group>
          
        <mat-tab label="Description">
            <textarea id="summernote" class="form-control" ></textarea>
        </mat-tab>

        <mat-tab label="Data">
            <dx-data-grid id="gridContainer" 
            [dataSource]="customers"  
            style="height: 350px"
            >
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="none"></dxo-sorting>

            <dxo-selection mode="single"></dxo-selection>

          </dx-data-grid>
        </mat-tab>

      </mat-tab-group>
  
  </div>


<!--
    #########################################################################################

    pop input box

    #########################################################################################
-->
<dx-popup   class="popup" 
            [width]="600" 
            [height]="250" 
            [showTitle]="true" 
            [title]="inputBoxTitle"
            [dragEnabled]="false" 
            [closeOnOutsideClick]="true"
            [(visible)]="popupVisible"
            >
    <div *dxTemplate="let data of 'content'">

        <mat-form-field class="example-full-width" style="width:550px">
            <input #txtTitle matInput placeholder="Input Text" type="text" (keyup.enter)="OK_Click(txtTitle.value)">
        </mat-form-field>

        <div style="margin-top: 10px">
            <button mat-raised-button color="warn" style="float: right;  margin-left: 10px" (click)="btnNewCancel_Click()" >Cancel</button>
            <button mat-raised-button color="primary" (click)="OK_Click(txtTitle.value)" style="float: right;">OK</button>
        </div>

    </div>

</dx-popup>

<!--
    #########################################################################################

    load panel

    #########################################################################################
-->
<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#flowtest02_main' }"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    (onShown)="onShown()"
>
</dx-load-panel>


<!--
    #########################################################################################

    Flow List Popup

    #########################################################################################
-->
<dx-popup   class="popup" 
        [width]="600" 
        [height]="500" 
        [showTitle]="true" 
        title="Flow List" 
        [dragEnabled]="false" 
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible_FlowList"
>
    <div *dxTemplate="let data of 'content'">

        <dx-data-grid
            #grdFlowList
            id="gridContainer"
            [hoverStateEnabled]="true"
            [selectedRowKeys]="[]"
            [dataSource]="dsFlowList" 
            style="height: 350px"
            [columns]="['title']"
        >
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="none"></dxo-sorting>
            <dxo-selection mode="single"></dxo-selection>

        </dx-data-grid>

        <div style="margin-top: 10px">
            <button mat-raised-button color="warn" style="float: right;  margin-left: 10px"  >Cancel</button>
            <button mat-raised-button color="primary"  style="float: right;" (click)='Open_Click()' >Open</button>
        </div>

    </div>

</dx-popup>
