<div id='flowtest02_main'>
    <br>

    <div id="flowtest02_container">
        <div style="margin-left: 10px">
            <button mat-raised-button color="warn" (click)="this.NewFlow()" >New</button>
            <button mat-raised-button color="primary" (click)="this.SaveFlow()" >Save</button>
            <button mat-raised-button color="primary" (click)="this.OpenFlow()" >Open</button>
            <button mat-raised-button color="primary" (click)="this.FullScreen()" >Full</button>
            <button mat-raised-button color="accent" (click)="this.AddFlow()"  >Add Flow</button>
            <i> 테스트 flow</i>
        </div>
      
        <div id='canvas_container'>
          <drawcanvas #fcvs  ></drawcanvas>
        </div>
    </div>
    

      <mat-tab-group>
          
        <mat-tab label="Description">
            <textarea id="summernote" class="form-control" ></textarea>
        </mat-tab>

        <mat-tab label="Data">
            <dx-data-grid id="gridContainer" 
            [dataSource]="customers"  
            (onContentReady)="onContentReady($event)"
            style="height: 350px"
            >
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="none"></dxo-sorting>

          </dx-data-grid>
        </mat-tab>

      </mat-tab-group>
  
  </div>

  <dx-popup
    class="popup"
    [width]="300"
    [height]="250"
    [showTitle]="true"
    title="Input Title"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible"
  >
  <div *dxTemplate="let data of 'content'">
    <div style="margin-top: 10px">
        <p>
            Full Name:
        </p>
        <br>
        <button mat-raised-button color="primary" (click)="OK_Click()"  >OK</button>
        <button mat-raised-button color="warn" >Cancel</button>
    </div>
      
  </div>
  
</dx-popup>


