<div id='flowtest02_main'>
    <br>
    <div style="margin-left: 10px">
     <button mat-raised-button color="primary" (click)="this.AddFlow()"  >Add</button>
    </div>
  
    <div id='canvas_container'>
      <drawcanvas #fcvs  ></drawcanvas>
    </div>

    <div id="flowtest02_container">
      <mat-tab-group>
          
        <mat-tab label="Description">
            <textarea id="summernote" class="form-control" ></textarea>
        </mat-tab>

        <mat-tab label="Data">
            <dx-data-grid id="gridContainer" 
            [dataSource]="customers"  
            [columns]="['CompanyName', 'City', 'State', 'Phone', 'Fax']"
            (onContentReady)="onContentReady($event)"
            
            >
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="none"></dxo-sorting>

          </dx-data-grid>
        </mat-tab>

      </mat-tab-group>
    </div>

    

    

    
  
  </div>



